.orders_tab a{
    text-transform: uppercase;
}
.orders_tab .nav-item{
    position: relative;
}
.orders_tab .nav-item .badge-pill{
    position: absolute;
    top: 10px;
    right: 0;
    background: #1dbf73;
}
.table-rep-plugin .btn-group .btn-default {
    background-color: #4497bf;
    color: #eff2f7;
    border: 1px solid #fff;
}
.action-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1dbf73!important;
}
.uppercase{
    text-transform: uppercase;
}
.text-green{
    color: #1dbf73;
}
.font-size-28{
    font-size: 28px;
}
.mt-30{
    margin-top: 30px;
}
.text-gray{
    color: #8c8c8c;
}
.border-radius-0{
    border-radius: 0!important;
}
.bg-sky{
    background: #3cbcf9!important;
    border: 1px solid #3cbcf9!important;
}
.service-thumb {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;
}
.services-table th{
    text-transform: uppercase;
    font-size: 11px;
    color: #8a8a8a;

}
.services-table .dropdown button{
    background: #fff;
    border: 1px solid #9298ac;
}
.services-table .dropdown button i{
    color: #1dbf73;
}
.min-height-300{
    min-height: 300px;
}
.services-table td a{
    color: #495057;
}
.services-table td a:hover{
    color: #0000ff;
}



@media(min-width: 767px) {
    .btn-toolbar{
        display: none!important;
    }
    .table-services-no-overflow{
        overflow: hidden!important;
    }
}
